body {
	margin: 10px;
	font-family: arial, sans-serif;
	color: #595959;
	font-size: 15px;
	
	.container {
		max-width: 1000px;
		margin: 0 auto;
		
		h1 {
			float: left;
		}
		.dataSelect {
			float: right;
		}
	}
}